/*
Colors used
Background Color (White Smoke): #f5f5f5;
Text Color (Dark Slate Grey): #2f4f4f;
Primary Color (Fire Brick Red): #B22222;
Secondary Color (Light Coral Red): #f08080;
 */

:root {
  --primary-color: #b22222;
  --secondary-color: #f08080;
  --text-color: #2f4f4f;
  --primary-font: 'Archivo Narrow', sans-serif;
  --secondary-font: 'EB Garamond', serif;
  --body-weight: 400;
  --headline-weight: 700;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #F8F8FF;
  font-family: var(--primary-font);
  font-weight: var(--body-weight);
}

/******** Navigation ********/
.container-fluid {
  text-align: center;
}

.nav-brand {
  color: #ffffff;
  margin-left: 10px;
}

.navbar-social {
  display:block;
  flex-direction: row;
  margin-left: auto; 
  margin-right: 0;
}

.nav-link__title {
  margin-left: auto; 
  margin-right: 0;
  font-size: 20px;
  justify-content: center;
}

.navbar-social__logo{
  width: 30px;
  margin-right: 5px;
}

/*********** Header *************/
.container-fluid-top {
  padding: 10% 15% 5%;
  margin-bottom: 3rem;
  background-color: #ffffff;
}

.about-section {
  text-align: center;
  box-shadow: 0px 1px 8px #888888
}

.main-heading {
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: var(--headline-weight);
}

.about-heading__sub {
  font-size: 1.5rem;
  line-height: 1.2;
}

.profile-image {
  width: 425px;
  box-shadow: 0px 1px 8px #888888
}

/* Portfolio */
.portfolio {
  box-shadow: 0px 1px 8px #888888
}

.portfolio h1{
  font-size: 4.5rem;
  line-height: 1.5;
  font-weight: var(--headline-weight);
}

.portfolio-image {
  width: 525px;
}

/********* ABOUT ********/
.stack-icon {
  max-height: 50px;
  margin: 15px;
  margin-bottom: 30px;
}

.aboutMe-skills {
  text-align: center;
}


/********* Scroll to top **********/
#myBtn {
  width: 40px;
  line-height: 40px;
  overflow: hidden;
  z-index: 999;
  display: none;
  cursor: pointer;
  -moz-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
  position: fixed;
  bottom: 50px;
  right: 0;
  background-color: #DDD;
  color: #555;
  text-align: center;
  font-size: 30px;
  text-decoration: none;
  border: none;
}

#myBtn:hover {
  background-color: #555;
  color: white;
}

.projects-card {
  text-align: center;
  justify-content: center;
}

.project-image__card {
  width: 75%;
  margin-top: 1rem;
  box-shadow: 0px 1px 4px #888888
}

/* Horizontal Rule */
.latest-work {
  color: #808080;
  display: flex;
  align-items: center; /* vertically center lines */
}

.latest-work::before,
.latest-work::after {
  content: '';
  flex: 1; /* expand lines as much as possible */
  background: #ccc;
  height: 1px;
}

span {
  padding: 0 1em; /* slight padding between line and text */
}

/******* CONTACT ***********/
.contact{
  color: #ffffff;
}

.contact-icon{
  width: 55px;
  margin: 10px;
}

.container-fluid-bottom {
  padding-top: 20px;
  padding-bottom: 10px;
  background-color: #212529;
  box-shadow: 0px 1px 8px #888888
}

.footer-copyright{
  font-size: 10px;
}

/******* MODALS ***********/
.project-image__modal {
  width: 65%;
  margin-top: 1rem;
  box-shadow: 0px 1px 4px #888888
}

.modal-title {
  color: #25408f;
  font-weight: 900;
}

/******* Responsive Elements *********/
@media (max-width: 1000px) {
  .title {
    text-align: center;
  }

  .title-image {
    position: static;
    width: 90%;
    margin-top: 2rem;
  }

  .project-image {
    width: 75%;
  }

  .portfolio-image {
    width: 75%;
  }

  .stack-icon {
    max-height: 50px;
  }

  .stack-icons-container {
    /* margin: 10% 10%; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    justify-self: center;
  }

  .contact-icon{
    width: 50px;
    margin: 10px;
  }

  .container-fluid-top {
    padding: 5% 10% 10%;
    margin-bottom: 5rem;
    background-color: #ffffff;
  }

  .portfolio {
    text-align: center;
  }

  .profile-image {
    margin-top: 20px;
  }

  .portfolio-button{
    margin-top: 30px;
  }
}

@media (max-width: 750px) {
  .profile-image {
    width: 320px;
    margin-top: 20px;
  }
  
  .portfolio-button{
    margin-top: 30px;
  }
}

@media (max-width: 480px) {
  .main-heading {
    font-size: 2.5rem;
  }

  .portfolio h1 {
    font-size: 3rem;
  }

  .profile-image {
    width: 225px;
    margin-top: 20px;
  }

  .portfolio-image {
    width: 225px;
  }

  .latest-work {
    font-size: 15px;
  }

  .portfolio-button{
    margin-top: 30px;
  }
}